@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../public/fonts/SUIT/SUIT.css";
@import "../public/fonts/SUITE/SUITE.css";
@import "../public/fonts/tossface1.5/tossface.css";

body {
  font-family: "SUIT", "Tossface", sans-serif;
  word-break: keep-all;
  word-wrap: break-word;
}

.suite {
  font-family: "SUITE", "Tossface", sans-serif;
}

.tossface {
  font-family: "Tossface", sans-serif;
}
